# 문자열 조작

- 문자열 바꾸기 (replace)

In [2]:
s = "Hello world"
s = s.replace('world', 'python')
s

'Hello python'

- 문자 바꾸기

In [3]:
table = str.maketrans('aeiou', '12345') # 각 위치에 매핑되는 문자로 바꿈
'apple'.translate(table)

'1ppl2'

- 구분자 문자열로 연결하기

In [5]:
'-'.join(['apple', 'grape', 'pear', 'orange'])

'apple-grape-pear-orange'

- 대소문자 변경

In [6]:
'python'.upper()

'PYTHON'

In [7]:
'PYTHON'.lower()

'python'

- 공백 삭제

In [10]:
print('    python    '.lstrip())  # 왼쪽 공백 삭제
print('    python    '.rstrip())
print('    python    '.strip())

python
    python
python

- 특정 문자 삭제

In [12]:
print('.............python.............'.lstrip('.'))
print('.............python.............'.rstrip('.'))
print('.............python.............'.strip('.'))

python.............
.............python
python

- 구두점 삭제 (string.punctuation 활용)

In [14]:
import string
string.punctuation  # 모든 구두점 (특수문자)

'., (python)#'.strip(string.punctuation + ' ') #공백도 같이 삭제

# 공백도 같이 삭제 - 방법2
'., (python)#'.strip(string.punctuation).strip()    # 메서드 체이닝(chaining)

'python'

- 문자열 정렬

In [19]:
print('python'.ljust(10))
print('python'.rjust(10))
print('python'.center(10))

python
    python
  python

- 메서드 체이닝 (method chaining) : 메소드 줄줄이 연결하기

In [20]:
'python'.rjust(10).upper()

'    PYTHON'

- 문자 채우기

In [25]:
print('1'.zfill(3))    # 앞에 0 채움
print('python'.zfill(10))

001
0000python

- 문자열 위치 찾기: find, index
    - find: 문자열 없으면 -1 반환, 있으면 인덱스 반환
    - index: 문자열 없으면 에러 반환, 있으면 인덱스 반환
    - 찾은 문자열이 여러 개면 첫 인덱스 반환함

In [29]:
print('apple pineapple'.find('pl'))   # apple의 'pl' 찾음
print('apple pineapple'.rfind('pl'))  # pineapple의 'pl' 찾음 (오른쪽부터 찾음)

print('apple pineapple'.index('pl'))   # apple의 'pl' 찾음
print('apple pineapple'.rindex('pl'))  # pineapple의 'pl' 찾음 (오른쪽부터 찾음)

2
12
2
12

- 문자열 개수 세기

In [30]:
'apple pineapple'.count('pl')

2

# 포매팅

1. 서식지정자 (format specifier) 사용  
    - %s, %d, %f

In [37]:
print('I am %s.' % 'Jeong')
print('%10s' % 'python')        # 총 길이 10 중 공백 4, python 6글자
print('%-10s' % 'python')       # 총 길이 10 중 python 6글자, 공백 4

print('I\'m %d years old' % 26)
print('PI is %f' % 3.14)    # 기본으로 소수점 이하 6자리까지 표시
print('PI is %.2f' % 3.14)

I am Jeong.
    python
python
I'm 26 years old
PI is 3.140000
PI is 3.14

2. format 메소드 사용
    - { }

In [52]:
print('Hello {}'.format('world'))
print('{} {} {} {}'.format('My', 'name', 'is', 'Jeong'))
print('{3} {2} {0} {1}'.format('My', 'name', 'is', 'Jeong'))    # 인덱스 사용
print('{0} {0} {1} {1}'.format('My', 'name', 'is', 'Jeong'))

print('I\'m {name} and {age}'.format(name='Jeong', age=26))     # 이름 지정

Hello world
My name is Jeong
Jeong is My name
My My name name
I'm Jeong and 26

중괄호 그대로 출력하기.. ㅎㅎ

In [51]:
print('{{ {0} }}'.format(0))

{ 0 }

3. 문자열 포매팅에 변수 그대로 사용하기

In [53]:
# 파이썬 3.6부터 사용 가능한 포매팅
name='Jeong'
age=26
print(f'{name} and {age}')

Jeong and 26

4. 기타

- 문자열 정렬

In [56]:
print('{:>10}'.format('python'))   # 인덱스:<정렬할길이

    python

- 숫자 개수 맞추기

In [57]:
print('%03d' % 1)

001

In [66]:
print('{0:010f}'.format(3.14))  # 0을 10만큼 채움 (소수점 자리도 포함하여 셈)
print('{:10.2f}'.format(3.14))  # 자릿수
print('{:010.2f}'.format(3.14)) # 0을 10만큼 채움

003.140000
      3.14
0000003.14

# 연습문제  
문제1. 파일 경로에서 파일명만 가져오기. (단, 경로에서 폴더 깊이가 달라져도 파일명만 출력해야 함.)

In [96]:
path = 'C:\\Users\\monkey\\AppData\\Local\\Programs\\Python\\Python38-32\\python.exe'

filename = path.split('\\')[-1]     # 내 답
'''
# 또는 
x = path.split('\\')
x.reverse()
filename = x[0]

# 또는
filename = path[path.rfind('\\') + 1:]
'''

print(filename)

python.exe

# 심사문제1. 특정 단어 개수 세기

In [110]:
sentence = "the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the."

# step 1. the+(구두점+공백) 리스트를 만들어서
import string
string.punctuation  # 모든 구두점 (특수문자)
the_punctuations = ['the'+i for i in string.punctuation+' ']

# step 2. 문장에서 the+(구두점 or 공백)의 개수 찾기
count = 0
for i in the_punctuations:
    count += sentence.count(i)
    
print(count)

6

In [108]:
if 'the' in the_punctuations:
    print('true')

# 심사문제2. 높은 가격순으로 출력하기

In [95]:
# 표준입력: 51900;83000;158000;367500;250000;59200;128500;1304000
price = list(map(int, input().split(';')))
price = sorted(price, reverse=True) # price.sort(reverse=True) # 같은 함수, inplace만 다름

for i in price:
    print('{:>9,d}'.format(i))

 1,304,000
   367,500
   250,000
   158,000
   128,500
    83,000
    59,200
    51,900